.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
}

.login-container {
  padding: 16px;
}

.login-card {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
  align-items: center;
  text-align: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.login-container h1 {
  margin: 0;
  font-size: 56px;
}

.login-container form {
  display: grid;
  grid-gap: 4px;
}

@media screen and (min-width: 768px) {
  .login-container {
    justify-self: center;
    width: 50%;
  }
}
